@media (max-width: 767px) {
	.main {
		min-height: 0;
		height: auto;
		clear: both;
		font-size: 14px;
		padding-bottom: 50px;
	}
}

.main {
	max-width: 1200px;
	background: #FFF;
	padding-left: 0;
	padding-left: 0;
	background: #FFF;
	width: 100vw;
	max-width: none;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	display: flex;
	justify-content: center;

}

@media (max-width: 640px) {
	.links-squares {
		flex-flow: column nowrap;
		display: flex;
	}
}


.links-squares {
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	width: 100%;
	list-style: none;
	margin-bottom: 10px;
	padding-left: 0;
}

.links-squares li {
	height: 170px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	margin: 9px;
	font-size: 16px;
	font-weight: 700;
}


@media (max-width: 768px) {
	.links-squares li {
		flex: 0 1 100%;
		margin: 0 20px;
		height: 65px;
	}

	.links-squares a span {
		justify-content: initial;
	}

}

.links-squares a {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: 16px;
	font-weight: 700;
}

.links-squares a span {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.links-squares a {
	height: 70px;
}

.main-wrapper {
	max-width: 76rem;
}


@media (max-width: 768px) {
	.links-squares a span {
		justify-content: initial;
	}
}
