.right-side {
	display: flex;
	list-style: none;
	margin-left: auto;
	align-items: center
}

.nav-item {
	display: flex;
	align-items: center;
	margin-left: 1.1rem;
	margin-right: 0;
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
}

.mobile {
	display: none;
}

@media (max-width: 768px) {

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
		font-size: 14px;
	}

}
