
body {
	max-width: 75rem;
	background-color: #FFF;
	padding: 0 15px 0 15px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 0 auto;
}

.main {
	background-color: #FFF;
}
