body {
	padding: 0 15px 0 15px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 0 auto;
	background-color: #F7F8F9;
	max-width: 75rem;
}

a {
	color: #000000;
	text-decoration: none;
}
